@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

@font-face {
  font-family: 'Px Grotesk', sans-serif;
  src: url('../public/fonts/Px-Grotesk-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Px Grotesk', sans-serif;
  src: url('../public/fonts/Px-Grotesk-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Px Grotesk', sans-serif;
  src: url('../public/fonts/Px-Grotesk-Bolf.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PX Sans Nouveaux', sans-serif;
  src: url('../public/fonts/px_sans_nouveaux.ttf');
  font-weight: 400;
  font-style: normal;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

html {
  /* font-size: 62.5%; 1 rem = 10px  */
  font-family: 'Px Grotesk';
  color: #000000;
  background-color: #F3EDEA;
}

/* #root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

img {
  display: block;
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth; /* smooth scrolling */
  }
}
