.container {
  height: 100vh;          
  display: flex;          
  justify-content: center;
  align-items: center;    
  
  .home-card, .projectpage-card {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 3px solid #000;
    border-left: none;
    width: 40%;
    height: 75%;
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
    opacity: 0;
    animation: fadeInUp 0.7s ease-out forwards;
  
    .window {
      border: 2px solid #000;
      border-radius: 2px;
      transition: all 0.2s;
  
      &:hover {
        box-shadow: 4px 4px black;
        transform: scale(1.01);
      }
  
      .window-header {
        padding: 8px 12px;
        border-bottom: 1px solid #000;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        .window-title {
          font-size: 1rem;
        }
  
        .window-controls {
          display: flex;
          gap: 4px;
  
          .control-dot {
            width: 12px;
            height: 12px;
            border: 1px solid #000;
            border-radius: 50%;
          }
  
          .control-dot:last-child {
            background: #000;
          }
        }
      }
  
      .window-content {
        padding: 15px;
        line-height: 1.6;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        span{
          font-weight: bold;
        }
      }
    }
  
    .projects {
      position: relative;
      // bottom: 25px;
      width: 100%;
      margin-top: 1.3rem;
      height: auto;
  
      h2 {
        font-family: 'PX Sans Nouveaux';
        font-size: 1rem;
        font-weight: normal;
        width: 100%;
        border-top: 2px solid #000;
        padding: 0.7rem;
      }
  
      .projectcards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        padding: 0 1rem;
  
        .card {
          border: 2px solid #000;
          transition: all 0.2s;
  
          &:hover {
            box-shadow: 4px 4px black;
            transform: scale(1.01);
          }
  
          img {
            width: 100%;
            object-fit: cover;
            border-bottom: 2px solid #000;
          }
  
          h3 {
            font-weight: 400;
            padding: 0.5rem 0.5rem;
          }
  
          p {
            border-top: 2px solid #000;
            padding: 0.5rem;
            font-weight: 300;
          }
        }
      }

      .project-link {
        position: relative;
        display: inline-block;
    
        &::after {
          content: "";
          position: absolute;
          left: 5px;
          bottom: 10px;
          width: 92%;
          height: 2px;
          background-color: #331C58;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s ease-in-out;
        }
    
        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }
  
  h1 {
    font-family: 'PX Sans Nouveaux';
  }

  // responsive styles
  
  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 0.5rem;
    height: auto;
    min-height: 80vh;
    padding: 2rem 1rem;
    padding-top: 150px;

    .profile-card {
      width: 70%;
      height: auto;
    }
  
    .home-card, .projectpage-card {
      width: 70%;
      height: auto;
      border-left: 3px solid #000;
    }
  
    .profile-name {
      font-size: 1.3rem;
    }
  
    .profile-title {
      font-size: 0.9rem;
    }
  
    .social-links{
      margin-bottom: 1.5rem !important;
    }
  }
  
  @media (max-width: 768px) {
    .profile-card,
    .home-card, .projectpage-card {
      width: 80%;
      height: auto;
      max-height: none;
      overflow: visible;
      border-left: 3px solid #000;
      border-right: 3px solid #000;
    }
  
    .button-container {
      grid-template-columns: 1fr;
    }
  
    .projects {
      position: relative;
      bottom: 0;
      height: auto;
      overflow: visible;
    }
  }
  
  @media (max-width: 480px) {
    .profile-card,
    .home-card, .projectpage-card {
      width: 90%;
      border: 3px solid #000;
    }
  
    .profile-name {
      font-size: 1.1rem;
    }
  
    .profile-title {
      font-size: 0.8rem;
    }
  
    .social-links {
      gap: 0.5rem;
  
      .social-icon {
        font-size: 1.5rem;
      }
    }
  
    .button-container {
      grid-template-columns: 1fr;
    }
  } 

  // scrollbar styles

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #331C58; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #2CCF76; 
  }
}

