@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

.profile-card {
  // max-width: 400px;
  // margin: 20px auto;
  text-align: center;
  // padding: 20px;
  border: 3px solid #000;
  width: 30%;
  height: 80%;
  box-shadow: -15px -17px 7.7px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  position: relative;

  .profile-image {
    // width: 200px;
    // height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    width: 100%;
  }

  .logo-badge {
    width: 140px;
    height: 140px;
    background: #F3EDEA;
    border-radius: 50%;
    position: relative;
    bottom: 40px;
    margin: -40px auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 3px solid #000;

    .logo-badge img {
      width: 30%;
      height: 30%;
    }
  }

  .profile-name {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 5px;
  }
  
  .profile-title {
    font-size: 16px;
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    margin: 0.3rem 0;

    .social-icon {
      font-size: 1.8rem;
      transition: color 0.3s;
    
      &:hover {
        color: #2CCF76;
      }
    }
  }
  
  .button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    overflow: hidden;
    // margin-top: 20px;
    margin-top: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #000;

    .profile-button {
      padding: 30px;
      border: none;
      cursor: pointer;
      font-size: 14px;
      background-color: #F3EDEA;
      transition: all 0.2s;

      i{
        font-size: 1.3rem;
        margin-left: 0.5rem;
      }

      &:nth-child(1){
        border-right: 1px solid #000;
      }

      &:nth-child(1):hover{
        transform: scale(1.01);
        cursor: pointer;
        background-color: #2CCF76;
        box-shadow: 4px 4px 10px black;
      }

      &:nth-child(2):hover{
        transform: scale(1.01);
        cursor: pointer;
        background-color: #2CCF76;
        box-shadow: -4px 4px 10px black;
      }
    }
  }
}

.home-card{
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  border: 3px solid #000;
  border-left: none;
  width: 40%;
  height: 75%;
  // padding: 1rem;
  // gap: 1rem;

  .window {
    // max-width: 800px;
    // margin: 20px auto;
    // border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    .window-header {
      padding: 8px 12px;
      border-bottom: 1px solid #000;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .window-title {
        font-size: 1.1rem;
        font-weight: normal;
        margin: 0;
      }

      .window-controls {
        display: flex;
        gap: 4px;

        .control-dot {
          width: 15px;
          height: 15px;
          border: 1px solid #000;
          border-radius: 50%;
        }

        .control-dot:last-child {
          background: #000;
        }
      }
    }

    .window-content {
      padding: 20px;
      line-height: 1.6;
    }
  }

  .projects{
    // border: 1px solid #000;
    

    h2{
      font-family: 'PX Sans Nouveaux';
      font-size: 1rem;
      font-weight: normal;
      width: 100%;
      border-top: 1px solid #000;
      padding: 0.3rem 1rem 0.3rem 1rem;
    }

    .projectcards{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 1rem;
      padding: 0px 1rem 0px 1rem;
      
      .card{
        border: 1px solid #000;
        transition: all 0.2s;

        &:hover{
          box-shadow: 4px 4px black;
          transform: scale(1.01);
        }
        
        img{
          width: 100%;
          object-fit: cover;
        }

        h3{
          font-weight: 400;
          border-top: 1px solid #000;
          border-bottom: 1px solid #000;
          padding: 0.5rem 0.3rem 0.3rem 0.3rem;
        }

        p{
          padding: 0.3rem;
        }
      }
    }
  }
}

h1{
  font-family: 'PX Sans Nouveaux';
}