nav {
  font-family: 'Px Grotesk';
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  position: relative;
  left: 10px;
  // top: 15px;
  float: left;
  width: 75px;
  z-index: 100;
  text-align: center;
  opacity: 1;
  visibility: visible;
  background-color: #F3EDEA;

  .nav-logo{
    display: none;
  }

  .nav-items{
    div {
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      
      i{
        transition: fill 0.2s ease;
        font-size: 25px;
      }
  
      a {
        transition: color 0.2s ease;
        font-size: 14px;
      }
  
      &:hover {
        i {
          fill: #2CCF76;
        }
  
        a {
          color: #2CCF76;
        }
      }
    }
  }

  .hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }

  // tablet / mobile nav styles

  @media (max-width: 1024px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    
    .nav-logo{
      display: block;
    }

    .nav-items{
      display: flex;
      flex-direction: row;

      div{
        max-width: 75px;
        max-height: 83px;
      }
    }
  }

  @media (max-width: 480px) {
    .nav-items {
      visibility: hidden;
      flex-direction: row;
      justify-content: center;
      position: absolute;
      padding: 0.5rem;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #F3EDEA;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      opacity: 0;
      visibility: hidden;
      transform: translateY(-1rem);
      max-height: 0;
      padding: 0 0.5rem;

      transition: 
        opacity 0.4s ease,
        visibility 0.4s ease,
        transform 0.4s ease,
        max-height 0.4s ease,
        padding 0.4s ease;
    }
  
    .nav-items.open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      max-height: 500px;
      padding: 1rem 0.5rem;
    }
  
    .hamburger {
      display: block;
    }
  }
}
